# Rust
/Cargo.toml
/target
/.idea/
Cargo.lock

# Python
/__pycache__/
/*.py[cod]
*$py.class
*.so
.Python
env/
*.egg-info/
/dist/

# WASM build output (коммитим бинарники)
# pkg/ - раскомментировать после первого билда
# !/pkg/.gitkeep

# OS
.DS_Store
Thumbs.db