# Rust
/target
/.idea/

# Python
/__pycache__/
/*.py[cod]
*$py.class
*.so
.Python
env/
*.egg-info/
/dist/

# OS
.DS_Store
Thumbs.db
/.cargo/*
/www/guitar_notes.js
/www/.nojekyll
/www/guitar_notes.d.ts
/www/guitar_notes_bg.*